# UMS configuration file,  9.5.1995  23:02:40

( Sysname @tlc1.demon.co.uk )
( Options "SaveComments,ChainQuick" )
#
# Any number of AKAs for your host's name.
# One PATTERN each line, separated by a linefeed "\n".
( Aka "tlc1\ntlc1.demon.co.uk\n" )
( Errorfile "con://640/100/UMS-%s-Error/AUTO/CLOSE/WAIT" )
# Where the logfile goes.
( Logfile "Work:UMS/mb/ums.log" )
# Loglevel must be between 1 and 9. 8 is recommended for the start.
( Loglevel 8 )
( Headerfields "1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17" )
( Indexfields "1,3,5,8,9,10,15,16,17" )
( HardFlush 300 )
( SoftFlush 5 )
( AutoFree 60 )
( AutoQuit 0 )
( Hdrfill 80 )
( Txtfill 80 )
( Maxmsgsize 500000 )
( Access * )
( FullAccess "()" )
( NodeMode ( HardFlush 300 )
# You MUST change to following line to match you fully qualified host name.
# Same for UUCP, SMTP, NNTP.
( rfc.domainname tlc1.demon.co.uk )
( rfc.pathname tlc1.demon.co.uk )
# Change this as you like.
( uucp.keepdupes N )
#
# Doesn't usually have to be changed.
( expire.grouplist "#?, 2\n" )
#
# Configure to your needs.
( expire.mail 7 )
( expire.private 1 )
( export.nodename post.demon.co.uk )
#
# This is my IntuiNews setup :)
( Intuinews.Book "Work:UMS/reader/IntuiNews/IntuiNews.Addresses" )
( IntuiNews.ForceQuote yes )
( IntuiNews.QuoteChars ">:|*" )
( IntuiNews.Sort ReplyLink )
( IntuiNews.ReplyTo "clive@tlc1.demon.co.uk" )
( IntuiNews.QuoteWidth 78 )
( IntuiNews.Editor "c:ed -sticky" )
( IntuiNews.Groups "comp.sys.amiga.#?\ndemon.#?\n" )
( IntuiNews.Organization "MovieKing Inc." )
( IntuiNews.QuoteHeader.Mail "Hi %f,\\n\\tYou wrote this about %s:" )
( IntuiNews.QuoteHeader.News "%n wrote this about %s:" )
( IntuiNews.QuoteString.Mail : )
( IntuiNews.QuoteString.comp > )
( IntuiNews.QuoteString.demon > )
( IntuiNews.Signature.mail
    "\n"
    "\n"
    "BFN,Clive\n"
    "\n"
    "-- \n"
    " +-- clive@tlc1.demon.co.uk ------------------------------------------+\n"
    " | Get it from:   ftp.demon.co.uk:pub/amiga/info/AmosaicFAQ_v1.02.lha |\n"
    " |          or    aminet: docs/misc/AmosaicFAQ.lha                    |"
)
( IntuiNews.Fortune.Mail "SYS:rexxc/rx Work:UMS/rexx/MyLine.rexx" )
( IntuiNews.Signature.comp
    "\n"
    "\n"
    "-- \n"
    " +-- clive@tlc1.demon.co.uk ------------------------------------------+\n"
    " | Get it from:   ftp.demon.co.uk:pub/amiga/info/AmosaicFAQ_v1.02.lha |\n"
    " |          or    aminet: docs/misc/AmosaicFAQ.lha                    |"
)
( IntuiNews.Signature.demon
    "\n"
    "\n"
    "-- \n"
    " +-- clive@tlc1.demon.co.uk ------------------------------------------+\n"
    " | Get it from:   ftp.demon.co.uk:pub/amiga/info/AmosaicFAQ_v1.02.lha |\n"
    " |          or    aminet: docs/misc/AmosaicFAQ.lha                    |"
)
( IntuiNews.Fortune.comp "SYS:rexxc/rx Work:UMS/rexx/MyLine.rexx" )
( IntuiNews.Fortune.demon "SYS:rexxc/rx Work:UMS/rexx/MyLine.rexx" )
( IntuiNews.SaveDrawer.Mail "Work:UMS/Text/Mail" )
( IntuiNews.SaveDrawer.comp "Work:UMS/Text/News" )
( IntuiNews.SaveDrawer.demon "Work:UMS/Text/News" )
( IntuiNews.SaveMark
    "============================== CUT ========================="
)
#
# And this my confUMS config ;)
( ConfUMS.Editor "c:ed -sticky" )
( ConfUMS.MLStartEditor yes )
( ConfUMS.Stack 40000 )
( ConfUMS.ForceDelete yes )
( ConfUMS.Display gu )
( ConfUMS.CallListKind "expire.grouplist\nIntuiNews.Grouplist\n" )
#
# setfolder stuff
( SetFolder.ReportUser sysop )
( SetFolder.ReportFolder report )
( SetFolder.Folder
    "amosaic\t\tComments \"#?(To|Cc):#?amosaic@insti.physics.sunysb.edu#?\"\n"
    "dice\t\tComments \"#?(To|Cc):#?dice@flevel.demon.co.uk#?\"\n"
    "imagine\t\tComments \"#?(To|Cc):#?imagine@email.sp.paramax.com#?\"\n"
    "weblink\t\tComments \"#?(To|Cc):#?weblink-l@mail.eskimo.com#?\"\n"
    "aminet\t\tComments \"#?To:#?aminet-daily@wunet.wustl.edu#?\"\n"
    "mui\t\t\tComments \"#?(To|Cc):#?mui@taloa.unice.fr#?\" \"mui,mui@taloa.unice.fr\"\n"
    "blitz\t\tComments \"#?(To|Cc):#?blitz-list@helsinki.fi#?\"\n"
    "mailserver\tFromAddr \"#?mailserver@tlc1.demon.co.uk#?\"\n"
    "errors\t\tFromAddr \"#?UUCP host#?\"\n"
)
#
# At least one 'sysop' is needed. Exactly one alias 'sysop' is required.
# On single-user sites you might want to use the same user for system
# administration (-> 'sysop') and newsreading.
# (Bigger sites should use a dedicated 'sysop' account.)
( Sysop
    ( Alias
        sysop
        root
        postmaster
        clive
        defs
    )
    ( READACCESS * )
    ( WRITEACCESS * )
    ( NETACCESS * )
    ( IMPORT % )
    ( Name "Clive Thomas" )
    ( Password  )
    ( rfc.username clive )
)
#
# And at least one Exporter is needed to connect you with the rest of
# the world.
( Exporter
    ( Alias
        uucp.uunet
        uucp.post
        uucp.default
        NNTP
        SMTP
        SMTPD
        nntpd
    )
    ( READACCESS * )
    ( WRITEACCESS * )
    ( NETACCESS * )
    ( IMPORT * )
    ( EXPORT * )
    ( DISTRIBUTION "(%|#?,)(mailinglist|list|UMS|N|Net|world)(,#?|%)" )
    ( Name "UUCP host" )
    ( Password  )
)
#
# This is an example for a simple user with limited access.
( User
    ( Alias
        guest
        gast
    )
    ( READACCESS "amiga.#?  \ncomp.#?\nde.#?\n" )
    ( WRITEACCESS "amiga.#?\ncomp.#?\nde.#?\n" )
    ( NETACCESS % )
    ( IMPORT % )
    ( Name "Test User" )
    ( Password guest )
    ( rfc.username guest )
)
