# UMS configuration file,  9.5.1995  23:02:40

#
# You MUST change to following line to match you fully qualified host name.
( Sysname @MY_DOMAIN.demon.co.uk )
( Options "SaveComments,ChainQuick" )
#
# Any number of AKAs for your host's name.
# One PATTERN each line, separated by a linefeed "\n".
( Aka "MY_DOMAIN\nMY_DOMAIN.demon.co.uk\n" )
( Errorfile "con://640/100/UMS-%s-Error/AUTO/CLOSE/WAIT" )
# Where the logfile goes.
( Logfile "Work:UMS/mb/ums.log" )
# Loglevel must be between 1 and 9. 8 is recommended for the start.
( Loglevel 8 )
( Headerfields "1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17" )
( Indexfields "1,3,5,8,9,10,15,16,17" )
( HardFlush 300 )
( SoftFlush 5 )
( AutoFree 60 )
( AutoQuit 0 )
( Hdrfill 80 )
( Txtfill 80 )
( Maxmsgsize 500000 )
( Access * )
( FullAccess "()" )
( NodeMode ( HardFlush 300 )
( rfc.domainname MY_DOMAIN.demon.co.uk )
( rfc.pathname MY_DOMAIN.demon.co.uk )
# Change this as you like.
( uucp.keepdupes N )
#
( expire.grouplist "#?, 2\n" )
#
# Configure to your needs.
( expire.mail 7 )
( expire.private 1 )
( export.nodename post.demon.co.uk )
#
# This is my IntuiNews setup :)
( Intuinews.Book "Work:UMS/reader/IntuiNews/IntuiNews.Addresses" )
( IntuiNews.ForceQuote yes )
( IntuiNews.QuoteChars ">:" )
( IntuiNews.Sort ReplyLink )
( IntuiNews.Organization "MY_ORG" )
( IntuiNews.QuoteHeader.Mail "Hi %f,\\n\\tYou wrote this about %s:" )
( IntuiNews.QuoteHeader.News "%n wrote this about %s:" )
( IntuiNews.QuoteString.Mail : )
( IntuiNews.ReplyTo "MY_1STNAME@MY_DOMAIN.demon.co.uk" )
( IntuiNews.QuoteWidth 78 )
( IntuiNews.SaveDrawer.Mail "Work:UMS/Text/Mail" )
( IntuiNews.SaveDrawer.comp "Work:UMS/Text/News" )
( IntuiNews.SaveDrawer.demon "Work:UMS/Text/News" )
( IntuiNews.Signature.mail
    "\n"
    "-- \n"
    " +-- MY_1STNAME@MY_DOMAIN.demon.co.uk ------------------------------------------+\n"
    " | this is a temp sig put what you want in here or kill it totally :( |\n"
    " |         as your taste dictates :)                                  |"
    " +--------------------------------------------------------------------+"
)
( IntuiNews.Signature
    "\n"
    "-- \n"
    " +-- MY_1STNAME@MY_DOMAIN.demon.co.uk ------------------------------------------+\n"
    " | this is a temp sig put what you want in here or kill it totally :( |\n"
    " |         as your taste dictates :)                                  |"
    " +--------------------------------------------------------------------+"
)
( IntuiNews.QuoteString.comp > )
( IntuiNews.QuoteString.demon > )
( IntuiNews.SaveMark
    "============================== CUT ========================="
)
#
# And this my confUMS config ;)
#( ConfUMS.Editor "c:ed -sticky" )
( ConfUMS.MLStartEditor yes )
( ConfUMS.Stack 40000 )
( ConfUMS.ForceDelete yes )
( ConfUMS.Display gu )
( ConfUMS.CallListKind "expire.grouplist\nIntuiNews.Grouplist\n" )

# At least one 'sysop' is needed. Exactly one alias 'sysop' is required.
# On single-user sites you might want to use the same user for system
# administration (-> 'sysop') and newsreading.
# (Bigger sites should use a dedicated 'sysop' account.)
( Sysop
    ( Alias
        sysop
        root
        postmaster
        MY_1STNAME
        defs
    )
    ( READACCESS * )
    ( WRITEACCESS * )
    ( NETACCESS * )
    ( IMPORT % )
    ( Name "MY_FULLNAME" )
    ( Password  )
    ( rfc.username MY_1STNAME )
)
#
# And at least one Exporter is needed to connect you with the rest of
# the world.
( Exporter
    ( Alias
        uucp.uunet
        uucp.post
        uucp.default
        NNTP
        SMTP
        SMTPD
        nntpd
    )
    ( READACCESS * )
    ( WRITEACCESS * )
    ( NETACCESS * )
    ( IMPORT * )
    ( EXPORT * )
    ( DISTRIBUTION "(%|#?,)(mailinglist|list|UMS|N|Net|world)(,#?|%)" )
    ( Name "UUCP host" )
    ( Password  )
)
#
# This is an example for a simple user with limited access.
( User
    ( Alias
        guest
        gast
    )
    ( READACCESS "amiga.#?  \ncomp.#?\nde.#?\n" )
    ( WRITEACCESS "amiga.#?\ncomp.#?\nde.#?\n" )
    ( NETACCESS % )
    ( IMPORT % )
    ( Name "Test User" )
    ( Password guest )
    ( rfc.username guest )
)
