From zerkle Sat Jan 14 10:58:25 1995
Received: by toadflax.cs.ucdavis.edu (4.1/UCD.CS.2.6)
	id AA20496; Sat, 14 Jan 95 10:58:24 PST
Received: from oleh.srce.hr by toadflax.cs.ucdavis.edu (4.1/UCD.CS.2.6)
	id AA20472; Sat, 14 Jan 95 10:58:01 PST
Received: from kzibreg@localhost by oleh.srce.hr (8.6.9/1.37)
	 id SAA15050; Sat, 14 Jan 1995 18:57:56 GMT
From: Kristijan.Zibreg@oleh.srce.hr (Kristijan Zibreg)
Message-Id: <199501141857.SAA15050@oleh.srce.hr>
To: announce@cs.ucdavis.edu
Date: Sat, 14 Jan 1995 19:57:41 +0100 (MET)
Cc: sentinel@120.hrfido.fesb.hr
X-Mailer: ELM [version 2.4 PL23]
Mime-Version: 1.0
Content-Type: text/plain; charset=US-ASCII
Content-Transfer-Encoding: 7bit
Content-Length: 1010      
Subject: SUBMIT Target announcement
Errors-To: zerkle@cs.ucdavis.edu
X-Server: Zserver v0.90beta
Status: RO

submit

TITLE

     Target

VERSION

     V2.1 (update from V2.0)

AUTHOR

     Dalibor S. Kezele
     Toplicka 127
     42204 Turcin
     Croatia

     e-mail: dalibor.kezele@120.hrfido.fesb.hr

     Fidonet: DALIBOR KEZELE 2:381/120

DESCRIPTION

    Target is a game for Workbench.

    One has to shoot the target that appears in a window opened by
    the game and gains scores depending on the number of shooted
    ones. With highscore, pause and intuition look.

SPECIAL REQUIREMENTS

    An Amiga since it works on all Amigas. (Tested on 500 and 1200)
    Target requiers about 50K to run.

HOST NAME

    any Aminet site, for example
    ftp.funet.fi

DIRECTORY

     /pub/aminet/game/wb

FILE NAMES

     Target.lha       (8410 bytes)
     Target.readme    (417 bytes)

PRICE

     The shareware fee is a postcard to author.

OTHER

     Source from author is also available.

DISTRIBUTABILITY

     Copyright (c) 1995 by Dalibor S. Kezele
     The program is shareware. It's freely distributable.


