p   { font-family:Avantgarde; color:#000099; font-size:9pt; }
h1  { font-family:Avantgarde; color:#990000; font-size:18pt; background-color:#DDDDFF; }
h2  { font-family:Avantgarde; color:#990000; font-size:14pt; background-color:#DDDDFF; }
h3  { font-family:Avantgarde; color:#990000; font-size:12pt; background-color:#DDDDFF; }
#selfhtml { font-family:Arial; background-color:#FFFFFF; color:black; }

