p   { font-family:Helvetica; font-size:12pt; margin-left:1cm; }
h1  { font-family:Helvetica; font-size:24pt; }
h2  { font-family:Helvetica; font-size:18pt; }
h3  { font-family:Helvetica; font-size:14pt;  }
body { margin-top:1.5cm; margin-bottom:1.5cm; margin-left:1.5cm; margin-right:1.5cm; }


