From megalith!nobody@uunet.UU.NET Wed Apr 27 03:26:09 1994
Received: from relay2.UU.NET by toadflax.cs.ucdavis.edu (4.1/UCD.CS.2.5)
	id AA02250; Wed, 27 Apr 94 03:26:07 PDT
Received: from uucp5.uu.net by relay2.UU.NET with SMTP 
	(5.61/UUNET-internet-primary) id AAwnkr22057; Wed, 27 Apr 94 06:26:02 -0400
Received: from megalith.UUCP by uucp5.uu.net with UUCP/RMAIL
        ; Wed, 27 Apr 1994 06:26:05 -0400
Received: by megalith.miami.fl.us (V1.16.20/w5, Dec 29 1993, 21:22:55)
	  id <1c5i@megalith.miami.fl.us>; Wed, 27 Apr 94 02:32:58 EDT -0400
Return-Path: <nobody@uunet.uu.net>
Sender: errors@megalith.miami.fl.us
Errors-To: errors@megalith.miami.fl.us
Warnings-To: errors@megalith.miami.fl.us
Mime-Version: 1.0
Content-Type: text/plain; charset=ISO-8859-1
Content-Transfer-Encoding: 8bit
Reply-To: jsh@ukc.ac.uk (J.S.Harper)
Message-Number: 796
Newsgroups: comp.sys.amiga.announce
X-Newssoftware: CSAA NMS 1.2
Message-Id: <overlord.1c41@megalith.miami.fl.us>
Date: Wed, 27 Apr 1994 02:32:57 -0400 (EDT)
From: jsh@ukc.ac.uk (J.S.Harper) (CSAA)
To: announce@cs.ucdavis.edu (CSAA-Submissions)
Subject: Jade 3.0
Status: R

TITLE

	Jade

VERSION

	3.0

AUTHOR

	John Harper <jsh@ukc.ac.uk>

DESCRIPTION

	Jade is the successor to my Jed 2.07 editor, the name has
	been changed because there is at least one other editor
	called Jed.

	A programmer's text editor, it is fully configurable with
	its own Lisp-style programming language (includes interpreter,
	compiler and debugger).

	All keybindings/mouse buttons/menus are configurable, with
	the Lisp files included in the distribution it emulates a
	subset of GNU Emacs.

	Jade supports the Amiga and Unix/X11 systems, full source
	is provided for both, a binary distribution is available
	for the Amiga.

NEW FEATURES

	New name.

	The old scripting langauge has been taken out, it's been
	replaced by a much more powerful Lisp-style language.

	Windows aren't restricted to displaying a particular file,
	the whole window/file thing is much more flexible -- any
	window can display any buffer, zero or more than windows
	be displaying a single buffer at any one time.

	Window redrawing is more efficient, scrolling is faster.

	Much more...

SPECIAL REQUIREMENTS

	Version 2.04 or greater of the Amiga OS.

HOST NAME

	Aminet. i.e,
	ftp.wustl.edu (128.252.135.4)


DIRECTORY

	/pub/aminet/util/edit/

FILE NAMES

	jade-3.0-amiga.lha (194214 bytes)
		Amiga executable, AmigaGuide and plain ASCII formatted
		documentation and pre-compiled Lisp files. This is the
		minimum that you need to install Jade on an Amiga.

	jade-3.0.lha (348325 bytes)
		Full source code, includes the Texinfo documentation
		formatted in the Info style.

PRICE

	Free.

DISTRIBUTABILITY

	Copyright (c) 1993, 1994 John Harper.
	GNU Public License.
--
Read all administrative posts before putting your post up.  Mailing list:
announce-request@cs.ucdavis.edu.  Comments to CSAA2@megalith.miami.fl.us.
MAIL ALL COMP.SYS.AMIGA.ANNOUNCE ANNOUNCEMENTS TO announce@cs.ucdavis.edu.



