Requirements
------------

Below is listed what I needed for my A1200T conversion:

A1200 =8-)
PC Full Tower Case with 250W PSU
Soldering Iron and Solder
2 x 25pin felmale D-Sub
2 x 25pin male D-Sub
2 x 23pin felame D-Sub
2 x 23pin male D-Sub
2 x 9pin female D-Sub
2 x 9pin male D-Sub
3 x 34pin IDC sockets
6 metres 34way ribbon cable
2 metres multicolour hookup wire

Also the other bits as mentioned in the additional guides, which are dependant
on what you want to do. I used bits of the SCSITower guide, so I needed a cable
with two 50way centronics sockets (like the Squirrel, but sockets) and five
50way IDC plugs for internal SCSI devices, ed. Zip drive, HD, tape, etc.
Is you are able to build an A1200T then you should be able to sort out these
bits and pieces.


